PORT=5050
JWT_SECRET=your_jwt_secret_here
RESEND_API_KEY=your_resend_api_key_here
EMAIL_USER=your_email_here
EMAIL_PASS=your_email_password_here
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/kaam_db?retryWrites=true&w=majority
